[submodule "thirdparty/Nuklear"]
	path = engine/thirdparty/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "thirdparty/stb"]
	path = engine/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/SDL2"]
	path = engine/thirdparty/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
